#container {
    max-width: 1920px;
    width: 100%;
    margin:0 auto;
}
header {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header-top {
    width: 100%;
    height: 20%;
    background-color: black;
    padding: 5px 0 5px 0
}
#account-cont {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 10px 0 10px 0;
}
#account-cont img {
    margin-right: 1rem;
}
#header-bottom {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
#nav-and-search-cont {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
}
#nav-and-search-cont nav {
    width: 50%;
}
#nav-and-search-cont nav ul {
    display: flex;
    justify-content: space-between;
}
#logo-cont {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;
}
#input-cont {
    position: relative;
}
#input-cont input {
    width: 16rem;
    height: 3rem;
    border: none;
    background-color: #EBEBEB;
}
#input-cont input::placeholder {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}
#input-cont img {
    position: absolute;
    right: 1.5rem;
    bottom: 0.8rem
}
#menu {
    width: 2rem;
    height: 2rem;
    display: none;
    cursor: pointer;
    position: relative;
}
#section-1 {
    width: 100%;
    height: 40rem;
    background-image: url(/imgs/s1image.png);
    background-size: cover;
    displaY: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 1s ease-in-out
}
#section-1-desc-cont, #section-4-desc-cont {
    width: 90%;
    height: 30%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
    padding: 0 0 0 40px;
    border-bottom: 1px hidden gray;
}
#section-1-desc-cont p, #section-4-desc-cont p {
    width: 60%;
}
h2 {
    font-size: 3rem;
}
#section-1-desc-cont button, #section-4-desc-cont button{
    width: 10%;
    height: 25%;
    background-color: #FFEB00;
    border: none;
    cursor: pointer
}
#section-1-slider-cont {
    margin: 0 auto;
    width: 90%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
#slider-indicators-cont {
    display: flex;
    width: 5%;
    margin: 0 auto;
    justify-content: space-between;
}
#slider-arrows-cont {
    display: flex;
    width: 8%;
    justify-content: space-between;
    padding-right: 1rem
}
.arrow-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#slider-arrows-cont img {
    width: 1.2rem;
    height: 1.2rem;
}
.indicator {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #9c9999c0;
    border-radius: 50%;
}
.selected {
    background-color: black;
}
#section-2 {
    width: 80%;
    height: 30rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 6.5rem;
}
#section-2-desc {
    width: 50%;
    padding: 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F7F7F7;
}
#s2-txt-cont {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    box-sizing: border-box;
}
#s2-txt-cont h3 {
    width: 65%;
    font-size: 2rem;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.8rem;
}
#s2-txt-cont h4 {
    font-size: 1.5rem;
    width: 45%;
}
#s2-txt-cont p {
    width: 80%;
    box-sizing: border-box;
}
#section-2-img {
    width: 100%;
    height: 100%;
    background-image: url(/imgs/WKND-image.png);
    background-size: cover;
}
#section-2-desc button {
    width: 40%;
    height: 10%;
    border: none;
    background-color: #FFEB00;
    cursor: pointer
}
#section-3, #section-5{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 2.5rem 0;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}
#section-3 h3 {
    height: 10%;
    font-size: 2rem;
    width: 26%;
    border-bottom: 3px solid yellow;
    margin-bottom: 2rem;
}
#cards-cont, #cards-cont-2 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.cards {
    width: 256px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards img {
    width: 100%;
    height: 60%;
}
.cards p {
    font-weight: bold;
}
.cards p:nth-of-type(1) {
    width: 70%;
}
#section-4 {
    width: 100%;
}
#section-4-heading {
    width: 80%;
    margin: 3.5rem auto;
}
#section-4 h3 {
    font-size: 2rem;
    width: 15%;
    border-bottom: 3px solid yellow;
}
#section-4-cover {
    width: 100%;
    height: 40rem;
    background-image: url(/imgs/bckg2.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
}
#section-5 h5 {
    height: 10%;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}
#cards-cont-2 p {
    width: 100%;
}
#section-5 button {
    width: 15%;
    margin-top: 2rem;
    height: 2.5rem;
    background-color: #202020;
    border: none;
    color: white;
}
#section-5 {
    margin-top: 2rem;
}
#section-6 {
    width: 80%;
    height: 12rem;
    margin: 0 auto;
    display: flex;
    margin-top: 3rem;
    background-color: #F7F7F7;
    margin-bottom: 4.5rem;
    justify-content: space-between;
}
#section-6-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#s6-desc-input {
    display: flex;
    width: 17rem;
    justify-content: space-between;
}
#s6-desc-input input {
    width: 12rem;
    height: 2.5rem;
    border: none;
    background-color: #EBEBEB;
}
#section-6-img-cont {
    background-image: url(/imgs/s6img.png);
    width: 35%;
    background-size: cover;
}
#section-6-desc {
    width: 60%;
}
h6 {
    font-size: 2rem;
}

#section-6-desc input::placeholder {
    padding-left: 1rem;
}
#section-6-desc button {
    width: 5rem;
    height: 2.5rem;
    background-color: #202020;
    color: white;
}
footer {
    width: 100%;
    height: 14rem;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
#footer-top-cont {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer-top-cont h6 {
    font-size: 3rem;
    font-weight: bold;
}
#footer-nav-and-socials-cont {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-nav-and-socials-cont nav {
    width: 70%;
}
#footer-nav-and-socials-cont nav ul {
    display: flex;
    justify-content: space-between;
}
#footer-nav-and-socials-cont nav ul li:first-child {
    font-weight: bold;
}
.footer-ul-li {
    color: white
}
#footer-social-info {
    display: flex;
    width: 20%;
}
.socials {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-bottom-cont {
    width: 84%;
    margin: 0 auto;
    color: #909090;
}